<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-7">
					<div class="header__top__left">
						<p>Free shipping, 30-day return or refund guarantee.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-5">
					<div class="header__top__right">
						<div class="header__top__links">
							<a href="#">Sign in</a>
							<a href="#">FAQs</a>
						</div>
						<div class="header__top__hover">
							<span>Usd <i class="arrow_carrot-down"></i></span>
							<ul>
								<li>USD</li>
								<li>EUR</li>
								<li>USD</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="header__logo">
					<a asp-area="" asp-controller="Home" asp-action="Index"><img src="/assets/img/logo.png" alt=""></a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<nav class="header__menu mobile-menu">
					<ul>
						<li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Index">Shop</a></li>
						<li>
							<a href="#">Pages</a>
							<ul class="dropdown">
								<li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
								<li><a href="./shop-details.html">Shop Details</a></li>
								<li><a href="./shopping-cart.html">Shopping Cart</a></li>
								<li><a href="./checkout.html">Check Out</a></li>
								<li><a>Blog Details</a></li>
							</ul>
						</li>
						<li><a asp-area="" asp-controller="Home" asp-action="Blog">Blog</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="header__nav__option">
					<a href="#" class="search-switch"><i class="fa-solid fa-magnifying-glass"></i></a>
					<a href="#"><i class="fa-solid fa-heart"></i></a>
					<a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
					<a href="#"><i class="fa-solid fa-user"></i></a>
				</div>
			</div>
		</div>

		<div class="canvas__open"><i class="fa fa-bars"></i></div>
	</div>
</header>